#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
ipch/
obj/
.vs/*
platforms/
[Dd]ebug*/
[Rr]elease*/
[Bb]in*/
Ankh.NoLoad

# SQL Server files
App_Data/*.mdf
App_Data/*.ldf
Mikrobar.Web/*.mdb
Debug/*.dll

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn
.vs/
YEDEK/
Uploads/
.vscode/
.xlsx
.mdb
.xls
*.log
.log
.licx
.ldb
*.pdb
.bak
*.bak

# Office Temp Files
~$*
/Mikrobar.v11.suo
/Mikrobar.Module/Properties/licenses.licx
/.vs
/.vs/Mikrobar/v14/.suo
/.vs/Mikrobar/v14/.suo
/.vs/Mikrobar/v14/.suo
/.vs/Mikrobar/v14/.suo
